* {
  box-sizing: border-box;
  font-size: 20px;
}


body {
  background-color: black;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}


li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: gold;
  text-decoration: none;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  width: 100%;
}


.logo {
  width: 50px;
  height: 50px;
}


.nav_links {
  list-style: none;
}


.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}


.nav_links li a {
  transition: all0.3s ease 0s;
}


.nav_links li a:hover {
  transition: all0.3s ease 0s;
  color: rgb(255, 255, 255);
}


.movieLang {
  width: 100%;
  margin-left: 2%;
}


.tamilMovies {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}


.tamilMovies p {
  color: #f2d64b;
}


.tamilMovies img {
  margin-top: 20%;
  border-radius: 2%;
  width: 100%;
  height: 100%;
}


.movieListHeadingparatag {
  font-size: 25px;
  color: gold;
}


.movieListHeadingparatag span {
  color: white;
  margin-left: 85%;
}


.addButton {
  background-color: gold;
  color: #111;
}


.addButton :hover {
  background-color: gold;
  color: #111;
  transition: none;
}

/* .imageInside p {
  color: gold;
} */

.imagePoster {
  padding: 10px 8px 30px;
  /* background-color: red; */
  font-family: SF-Medium;
}


.subDiv {
  width: 350px;
  height: 230px;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.subDiv p{
  margin-top: 10px;
  margin-bottom: 10px;
}


.movieInfo {
  position: relative;
  top: 180px;
  left: 20px;
  width: 100%;
  height: 80%;
  z-index: 2;
  transition: all 0.3s ease-out;
}


.movieInfo:hover .movieContent {
  opacity: 1;
  visibility: visible;
  /* margin-bottom: 200px; */
  transform: translateY(0);
}

.imagePoster:hover img{
  opacity: 0.5;
}


.movieInfo p {
  margin-bottom: 0.5rem;
  font-family: serif;
  font-weight: bolder;
  line-height: 1.1;
  color: white;
}


.movieContent {
  position: absolute;
  width: 350px;
  height: 100%;
  z-index:3;
  bottom: 100px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100px);
  transition: all 0.4s ease-in-out;
}


.bookingButton{
  border: none;
  border-radius: 6px;
  background-color: whitesmoke;
  color: #1a1a1a;;
  margin-top: 10%;
  width: 300px;
  height: 35px;
  margin-left: 5px;
  margin-right: 10px;
}

.bookingButton:hover{
  cursor: pointer;
  background-color: gold;
}

.addButton{
  width: 40px;
  height: 30px;
  border-radius: 24px;
  background-color: wheat;
  font-size: 20px;
}

.addButton:hover{
  background-color: gold;
  cursor: pointer;
}