* {
  box-sizing: border-box;
}


body {
  background-color: black;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}


.mainDiv{
  align-items: center;
}


.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 30%;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}


.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}


.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}


.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}


.showcase li small {
  margin-left: 2px;
}


.screen{
  width: 525px;
  height: 150px;
  background-color: #fff;
  color: black;
  text-align: center;
  margin-bottom: 10%;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.screen p{
  padding-top: 10%;
  color: black;
}


.seatBooking{
    margin-bottom: 30px;
}

.seat.selected{
  background-color: gold;
}

.seat.occupied{
  background-color: grey;
}

.seat {
  background-color:darkslateblue;
  height: 20px;
  width: 25px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.seat:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.seatRow{
  display: flex;
  padding: 10px;
}





p.text {
  margin: 5px 0;
}


p.text span {
  color: #6feaf6;
}