* {
  box-sizing: border-box;
  font-size: 20px;
}

body {
  background-color: black;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: gold;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  width: 100%;
}

.logo {
  width: 50px;
  height: 50px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all0.3s ease 0s;
}

.nav_links li a:hover {
  transition: all0.3s ease 0s;
  color: rgb(255, 255, 255);
}
.mainDiv {
  align-items: center;
}

.movie-container select {
  background-color: black;
  color: gold;
  border: 1px solid gold;
  border-radius: 24px;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 15%;
  padding: 5px 15px 5px 15px;
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.screen {
  width: 800px;
  height: 350px;
  background-image: url("./../img/pvrbanner1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: black;
  text-align: center;
  margin-bottom: 10%;
  box-shadow: 0 3px 40px rgba(255, 255, 255, 0.7);
}

.screen p {
  padding-top: 50%;
  color: gold;
}

.seatBooking {
  margin-bottom: 30px;
}

.seat.selected {
  background-color: gold;
}

.seat.occupied {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.seat {
  background-color: #F2F2F2;
  height: 20px;
  width: 25px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat:nth-of-type(5) {
  margin-right: 18px;
}

.seat:nth-last-of-type(5) {
  margin-left: 18px;
}

.seat:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.seatRow {
  display: flex;
  padding: 10px;
  width: inherit;
}

select {
  background-color: gold;
  appearance: none;
}

p.text {
  text-align: center;
  font-size: 30px;
}

p.text span {
  color: gold;
  font-size: 30px;
}

.submitButton {
  width: 100%;
}

.submitButton input[type="submit"] {
  background-color: transparent;
  color: gold;
  border: 1px solid gold;
  border-radius: 24px;
  font-size: 20px;
  margin-top: 5%;
  margin-left: 40%;
  padding: 5px 15px 5px 15px;
}

.submitButton input[type="submit"]:hover {
  cursor: pointer;
}
